/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #0b2429
  Leaf yellow: #f3ac3c
  Leaf green: #998235
  Leaf dark green: #1a4341
*/

.box {
  background-color: #0b2429;
}

.leaf {
  height: 146px;
  width: 155px;
  background-color: #f3ac3c;
  position: absolute;
  left: 169px;
  top: 77px;
  border-radius: 100px 0 100px 0;
  box-shadow: -50px 0px #998235,-100px 0px #1a4341;
}
