/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  background: #4893d2
  shape:#063a86
*/

.box {
  background-color: #4893d2;
}

.shape {
  background-color: #063a86;
  height: 400px;
  width: 100px;
  position: absolute;
  left: 150px;
  z-index: -2;
}
.shape::after{
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #4893d2;
  left: 0px;
  top: -47px;
  rotate: 45deg;
}
.shape::before{
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #4893d2;
  left: 0px;
  top: 245px;
  rotate: 45deg;
}
