/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#191919
  Orange: #E08027
  Brown: #824B20
  Yellow: #FFF58F
*/

.box {
  background-color: #191919;
}

.circle {
  height: 125px;
  width: 125px;
  background-color: #E08027;
  position: absolute;
  left: 120px;
  top: 70px;
  border-radius: 100px;
  border: 30px solid #824B20;
  padding: 50px;
}
.circle::after{
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #FFF58F;
  border-radius: 100px;
  left: -10px;
  bottom: -10px;
  border: 23px solid red;
  padding: 40px;
  border-top-color: transparent;
  border-right-color: transparent;
  rotate: -45deg;
}
.circle::before{
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  left: -10px;
  top: 40px;
  background-color: green;
  border-radius: 100px;
  z-index: 1;
}
