/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #6e344e
  square: #ffc677
*/

.box {
  background-color: #6e344e;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #ffc677;
  position: absolute;
  left: 50px;
  top: 50px;
  box-shadow: 0 150px #ffc677;
}
.square::after{
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #ffc677;
  left: 250px;
  box-shadow: 0 150px #ffc677;
}
